.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transform: translate(-20%, -30%);
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-wrapper {
    width: 20rem;
    height: 20rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;

    #add-acct-form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}



