.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
}
img {
    border-radius: 50%;
    background-color: black;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin-right: 3%;
}