
.usertable-wrapper {
    height: 60vh;
    background-color: bisque;
    .usertable-container {
        border-collapse: collapse;
        height: auto;
        min-width: 40vmin;
        width: auto;
        margin: 2rem;
        border: 2px solid black;     
    }
}

.thead-container {
    text-align: center;
    font-size: 1rem;
    .tr-container {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
        
    }
}