
.usertable-wrapper {
    height: 60vh;
    background-color: bisque;

    .usertable-container {
        border-collapse: collapse;
        min-height: 15vmin;
        min-width: 40vmin;

        margin: 2rem;
        border: 2px solid black;     
    }
}

.thead-container {
    font-size: 1rem;
    padding: 2rem;
    
    .tr-container {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
}

td {
    font-size: 1rem;
    margin: 3rem;

}
