*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: sans-serif;
} 


.app {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90% ;
    grid-template-areas: 
    'sidebar navbar',
    'sidebar main'; 
    
}

.sidebar {
    display: flex;
    grid-area: sidebar;
    height: 100vh;
    width: 12rem;
    background-color: #fafafa;
    flex-direction: column;
}

.adduser-wrapper {
    display: grid;
    grid-area: main;
}
.usertable-wrapper {
    display: grid;
    grid-area: main;
}

