*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: sans-serif;
} 

body {
    background-color:#ffffff;
}

.sidebar {
    width: 10rem;
    height: 100vh;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}