*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: sans-serif;
    outline: 2px solid red;
} 

body {
    height: 100vh;
    width: auto;
    /* position: relative;
    display: flex; */

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90% ;
    grid-template-areas: 
    'sidebar navbar',
    'sidebar main';

}

.app {
    display: flex;
}

/* .grid-parent {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90% ;
    grid-template-areas: 
    'sidebar navbar',
    'sidebar main';

} */

.sidebar {
    /* position: fixed; */
    /* width: 10rem; */
    height: 100vh;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
   
}

.usertable-wrapper {
    display: grid;
    grid-area: main;
    background-color: rgb(192, 121, 34);
    /* display: flex; */
    justify-content: center;
}

.adduser-wrapper {
    grid-area: navbar;
    background-color: blue;
}